<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<%= link_to new_category_path, class: 'button' do %>
  <i class="em em-baby"></i> Create Category
<% end %>

<%= form_tag categories_path, method: :get do %>
  <%= label(:year, :year) %>
  <%= select_tag :year, options_for_select([['all', nil], ['2018', 2018], ['2019', 2019]]) %>
  <%= label(:month, :month) %>
  <%= select_tag :month, options_for_select(CategoriesHelper::MONTH_SELECT_OPTIONS) %>
  <%= submit_tag 'Filter' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th style="text-align:right;">Total</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td style="text-align:right;"><%= number_to_currency(category.balance/100.0, unit: '', precision: 2) %></td>
        <td>
          <%= link_to category do %>
            <i class="em em-card_file_box"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
