<p id="notice"><%= notice %></p>

<h1>Transactions in <%= @category.name %></h1>

<%= link_to categories_path, class: 'button' do %>
	<i class="em em-arrow_left"></i> Categories
<% end %>

<table>
  <thead>
    <tr>
      <th>Booking date</th>
      <th>Payment date</th>
      <th>Purpose</th>
      <th>Value</th>
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category.transactions.each do |transaction| %>
      <%= render 'transactions/list_item', transaction: transaction, inline_edit: false %>
    <% end %>
  </tbody>
</table>
