<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :booking_date %>
    <%= form.date_select :booking_date %>
  </div>

  <div class="field">
    <%= form.label :payment_date %>
    <%= form.date_select :payment_date %>
  </div>

  <div class="field">
    <%= form.label :purpose %>
    <%= form.text_field :purpose %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency %>
  </div>

  <div class="field">
    <%= form.label :account %>
    <%= form.select :account_id, Account.all.collect {|a| [a.name, a.id] }, { include_blank: true }  %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category_id, Category.all.collect {|c| [c.name, c.id] }, { include_blank: true }  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
