<tr>
  <td><%= transaction.booking_date %></td>
  <td><%= transaction.payment_date %></td>
  <td><%= transaction.purpose %></td>
  <td style="text-align:right;"><%= number_to_currency(transaction.value/100.0, unit: '', precision: 2) %></td>
  <td><%= transaction.account.name if transaction.account %></td>
  <% if inline_edit %>
    <td>
      <%= form_with(model: transaction, local: true) do |form| %>
        <%= form.select :category_id, @categories.collect {|c| [c.name, c.id] }, { include_blank: true }  %>
        <%= form.submit 'Save' %>
      <% end %>
    </td>
  <% end %>
  <td>
  	<%= link_to edit_transaction_path(transaction) do %>
  		<i class="em em-pencil2"></i>
  	<% end %> | 	
  	<%= link_to transaction, method: :delete, data: { confirm: 'Are you sure you want to delete this transaction?' } do %>
  		<i class="em em-wastebasket"></i>
  	<% end %>
  </td>
</tr>
