<p id="notice"><%= notice %></p>

<h1>Uncategorized Transactions</h1>

<%= link_to new_transaction_path, class: 'button' do %>
  <i class="em em-baby"></i> Create Transaction
<% end %>

<table>
  <thead>
    <tr>
      <th>Booking date</th>
      <th>Payment date</th>
      <th>Purpose</th>
      <th>Value</th>
      <th>Account</th>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <%= render 'list_item', transaction: transaction, inline_edit: true %>
    <% end %>
  </tbody>
</table>
