<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<%= link_to new_account_path, class: 'button' do %>
  <i class="em em-baby"></i> Create Account
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th>Provider</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= number_to_currency(account.balance/100.0, unit: '', precision: 2) %></td>
        <td><%= account.provider.name %></td>
        <td>
          <%= link_to account do %>
            <i class="em em-card_file_box"></i>
          <% end %> | 
          <%= link_to edit_account_path(account) do %>
            <i class="em em-pencil2"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
